*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
header{
    width: 100vw;
    background-color: #000;
} 
.poster-img{
    width: 100vw;
}
.navicon {
    position: absolute;
    top: 10px;
    left: 10px;
}
main{
    width: 100vw;
    height: auto;
    background-color: #000;
    color: #fff;
    margin: 0;
}
.main-small{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 33.33%;
    width: 66%;
}

.image-small {
    margin-top: 90px;
    height: 70%;
    width: 95%;
}
.char-small { 
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.main-medium{
    display: flex;
    margin: 25px 350px 0px 350px;
    justify-content: center;
    
    
}

.image-medium {
    height: 65%;
    width: 100%;
    
}
.char-medium {
    width: 45%;
    height: auto;
    background-color: #fff;
    color: #000;
    margin: 50px auto 120px auto;
    display: flex;
    flex-direction: column;
    
}

.btn-small { 
    display: flex;
    align-self: flex-start;
    background-color: #E83F57;
    border: none;
    border-radius: 3px;
    margin: auto 0 auto 8px ;
    padding: 7px 15px ;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700; 
}

.btn-medium { 
    display: flex;
    align-self: flex-start;
    margin: 70px auto auto 20px ;
    background-color: #E83F57;
    border: none;
    border-radius: 3px;
    padding: 15px 25px ;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700; 
}

h2{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 40.8px;
    margin: 10px 8px;
}

p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px; 
    margin: 10px 8px;
}

footer{
    width: 100vw;
    height: fit-content;
    margin: auto ;
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(75, 72, 72);
    color: #fff;


}
.adress{
    width: 180px;
}
.social{
    width: 250px;

}
.logo{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.btn-small.activated:hover{
    background-color: rgb(90, 86, 86);
}